:root {
  background-image: url(./images/Animated\ Shape\ \(1\).svg);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120%;
    overflow: hidden;
}

.App {
  text-align: center;
}

.navbar {
  /* background-color: rgb(255, 102, 0); */
  text-decoration: none;
  color: white;
}

li {
  display: inline-block;
  margin: 25px;
  font-weight: bolder;
  font-size: 30px;
  list-style-type: none;
}

.header {
  font-weight: bolder;
  color: white;

}

.card-container {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding-left: 20%;
  padding-right: 20%; */
  
}

.card, .form-card, .about-card {
  display: inline-block;
  margin:25px;
  background-color:rgba(18, 25, 43, 0.685);
  color: aliceblue;
  width: 500px;
  height:300px;
  --radius: 15px;
  --border: 5px;
  border-radius: calc(var(--radius) + var(--border));
  font-weight: bolder;
}

.about-card {
  width: 60%;
  height: fit-content;
  font-size: large;
  padding: 20px;
  line-height: 2;
}

.form-card {
  padding-top: 30px;
  height:600px;
}

.form-input {
  width:80%;
  height: 40px;
  border-radius: 20px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #3a496e;
  border-style: solid;
  border-color: aliceblue;
  color: aliceblue;
  font-weight: bolder;
}

.form-input::placeholder {
  color: aliceblue;
  
}

.form-mes {
  height: 300px;
}

.card-image {
  height: 100px;
}

.card-title {
  display: flex;
  background-color:#3a496e;
  color: aliceblue;
  margin: var(--border);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
}

.site-but, .submit {
  width:150px;
  background-color: #3a496e;
  color:aliceblue;
  font-weight: bolder;
  border-radius: 20px;
  /* width:max-content; */
  margin: 10px;
  padding: 20px;
  border-style:solid;
  border-color: aliceblue;
  /* top: 300px; */
  position:relative;
  overflow: hidden;
}

.submit{
  top: 20px;
}

.site-but::before {
  content: '';
  position: absolute;
  height: 200px;
  width: 20px;
  background-color:aliceblue;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.8;
  top: -70px;
  transition: 0.4s;
  transform: rotate(20deg) translateX(-70px);

}

.submit::before {
  content: '';
  position: absolute;
  height: 200px;
  width: 20px;
  background-color:aliceblue;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.8;
  top: -70px;
  transition: 0.4s;
  transform: rotate(20deg) translateX(-80px);

}

.site-but:hover:before {
  transform: rotate(20deg) translate(140px, 50px);
}

.submit:hover:before {
  transform: rotate(20deg) translate(140px, 50px);
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position:5px 10px;
  border-radius: 50%;
  border-style: solid;
  border-color: aliceblue;
  box-shadow: 0 0 10px #fff;
  background-color: #12192b;
  transition: 0.3s;
}

.avatar:hover {
  box-shadow: 0 0 30px #fff;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
