:root {
  /* background-image: url(./images/Animated\ Shape\ \(1\).svg); */
  background-image: url(./images/newBG.svg);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.App {
  text-align: center;
  height: 100vh;
}

.navbar {
  text-decoration: none;
  color: white;
}

.highlight {
  text-shadow: 0 0 30px #fff;
  color: white;
  cursor: default;
  text-decoration: none;
}



li {
  display: inline-block;
  margin: 25px;
  font-weight: bolder;
  font-size: 30px;
  list-style-type: none;
}

.header-link {
  text-decoration: none;
}

.header {
  font-weight: bolder;
  color: white;
}

.center{
  display: inline-block;
}

.portfolio, .form-card{
  display:flex;
  /* padding-top: 20px; */
  /* padding-bottom: 0px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 18, 18, 0.485) ;
}


.carousel {
  overflow: hidden;
  width: 500px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
}

.carousel-title, .form-title {
  display: flex;
  color: white;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight:bolder;
}

.carousel-image {
  height: 200px;
  padding: 15px;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item, .form {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 550px;
  box-sizing: border-box;
  background-color: #ffc3c338;
}

.carousel-desc{
  margin: 20px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: white;
  text-shadow: 0 0 25px  black;
}


.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow, .indicator-buttons {
  margin-top: 20px;
  margin-bottom: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer
}

.indicator-symbol-active {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px #fff;
}


 .about-card {
  display: inline-block;
  margin:25px;
  background-color:rgba(43, 18, 18, 0.485);
  color: white;
  width: 250px;
  height:550px;
  --radius: 15px;
  --border: 5px;
  border-radius: calc(var(--radius) + var(--border));
  font-weight: bolder;
}


.about-card {
  width: 60%;
  height: fit-content;
  font-size: large;
  padding: 20px;
  line-height: 2;
}

.form {
  height: 600px;
}

.form-card {
  width: 500px;
  height:650px;
}

.form-input {
  width:80%;
  height: 40px;
  border-radius: 20px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #6e3a3a;
  border-style: solid;
  border-color: white;
  color: white;
  font-weight: bolder;
}

.form-input::placeholder {
  color: white;
  
}

.form-mes {
  height: 300px;
}



.site-but, .submit, .download {
  width:150px;
  background-color: #6e3a3a;
  color:white;
  font-weight: bolder;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  border-style:solid;
  border-color: white;
  position:relative;
  overflow: hidden;
}



.submit{
  top: 20px;
}

.site-but::before {
  content: '';
  position: absolute;
  height: 200px;
  width: 20px;
  background-color:white;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.8;
  top: -70px;
  transition: 0.4s;
  transform: rotate(20deg) translateX(-70px);

}

.submit::before {
  content: '';
  position: absolute;
  height: 200px;
  width: 20px;
  background-color:white;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.8;
  top: -70px;
  transition: 0.4s;
  transform: rotate(20deg) translateX(-80px);

}

.download::before {
  content: '';
  position: absolute;
  height: 200px;
  width: 20px;
  background-color:white;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.8;
  top: -70px;
  transition: 0.4s;
  transform: rotate(20deg) translateX(-80px);

}

.site-but:hover:before {
  transform: rotate(20deg) translate(140px, 50px);
}

.submit:hover:before {
  transform: rotate(20deg) translate(140px, 50px);
}

.download:hover:before {
  transform: rotate(20deg) translate(140px, 50px);
}
.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position:5px 10px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  box-shadow: 0 0 10px #fff;
  background-color: #2b1212;
  transition: 0.3s;
}

span {
  color: white;
}

.resume {
  width: 20%;
  padding-top: 20px;
}

.avatar:hover {
  box-shadow: 0 0 30px #fff;
}


.footer-cont {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-img {
  transition: 0.7s ease-in-out;
  height: 30px;
  width: 30px;
  padding: 25px;
  text-decoration: none;
  color: white;
}

.footer-img:hover {
  color: #6e3a3a;
transform: scale(1.3) rotate(360deg);
}






.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
}

#imagetrack {
  display:flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(0%, -50%);
}

.spacer {
  display: flex;
  transform: translate(50%, 50%);
  height: 100vh;
}

.black {
  background-color: #161616;
  position:absolute;
  top: 0%;
  height: 100vh;
  width: 100vw;
}

.continue{
  border-color: transparent;
  color: white;
  background-color: transparent;
  font-size: 100px;
  transition: 0.25s ease-in-out;
}

.continue:hover {
  color: #161616;
  background-color: transparent;
  text-shadow: 0px 0px rgb(255, 255, 255);
  transform: scale(1.2);
}