:root {
  /* background-image: url(./images/Animated\ Shape\ \(1\).svg); */
  background-image: url(./images/newBG.svg);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
  
  .App {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 100vh;
    /* overflow: hidden; */
  }
  
  .navbar {
    font-size: 18px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in;
}

.highlight {
  animation: anim 0.5s forwards;
  font-size: 18px;
  text-decoration: none;
  cursor: default;
  color: white;
  text-shadow: 0 0 30px #fff;
  transition: 0.3s ease-out;
}


ul {
  /* margin: 0px; */
  padding: 0px;
}

li {
  display: inline-block;
  margin: 25px;
  font-weight: bolder;
  font-size: 30px;
  list-style-type: none;
}

.header-link {
  text-decoration: none;
}

.header {
  font-weight: bolder;
  color: white;
}

.center{
  display: inline-block;
}

.portfolio, .form-card{
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 18, 18, 0.485) ;
}


.carousel {
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  overflow: hidden;
  width: 500px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
}

.carousel-title, .form-title {
  display: flex;
  color: white;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight:bolder;
}

.carousel-image {
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  height: 200px;
  margin: 15px;
  box-shadow: 0px 0px 25px 0px #2b1212;
}


.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item, .form {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 550px;
  box-sizing: border-box;
  background-color: #ffc3c338;
}

.carousel-desc{
  margin: 30px 0 30px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: white;
  text-shadow: 0px 0px 35px black;
}


.carousel-buttons {
  border-top-style: solid;
  border-color: white;
  display: flex;
  justify-content: space-evenly;
}

.button-arrow, .indicator-buttons {
  margin-top: 20px;
  margin-bottom: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer
}

.indicator-symbol-active {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px #fff;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


 .about-card {
  display: inline-block;
  box-sizing: border-box;
  margin:25px;
  background-color:rgba(43, 18, 18, 0.485);
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  font-weight: bolder;
  width: 60%;
  height: fit-content;
  font-size: large;
  padding: 20px;
  line-height: 2;
}

.form {
  height: 630px;
  background-color:rgba(43, 18, 18, 0.485);
}

.form-card {
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  width: 500px;
  height:630px;
}

.form-input {
  font-family: 'Roboto', sans-serif;
  width:80%;
  height: 40px;
  border-radius: 5px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffc3c338;
  border-style: solid;
  border-color: white;
  color: white;
}

.form-input::placeholder {
  color: white;
}

.form-mes {
  padding-top: 10px;
  border-width: 2px;
  height: 275px;
 
}



.site-but, .submit, .download {
  width:150px;
  background-image: linear-gradient(to right, #91120b, #b96f2a);
  color:white;
  font-weight: bolder;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  border-style:solid;
  border-color: white;
  position:relative;
  overflow: hidden;
  /* box-shadow: 0px 0px 15px 0px #2b1212; */
}



.submit{
  top: 20px;
}

.site-but::before {
  content: '';
  position: absolute;
  height: 200px;
  width: 20px;
  background-color:white;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.8;
  top: -70px;
  transition: 0.4s;
  transform: rotate(20deg) translateX(-70px);

}

.submit::before {
  content: '';
  position: absolute;
  height: 200px;
  width: 20px;
  background-color:white;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.8;
  top: -70px;
  transition: 0.4s;
  transform: rotate(20deg) translateX(-80px);

}

.download::before {
  content: '';
  position: absolute;
  height: 200px;
  width: 20px;
  background-color:white;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.8;
  top: -70px;
  transition: 0.4s;
  transform: rotate(20deg) translateX(-80px);

}

.site-but:hover:before {
  transform: rotate(20deg) translate(140px, 50px);
}

.submit:hover:before {
  transform: rotate(20deg) translate(140px, 50px);
}

.download:hover:before {
  transform: rotate(20deg) translate(140px, 50px);
}
.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position:5px 10px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  box-shadow: 0 0 10px #fff;
  background-color: #2b1212;
  transition: 0.3s;
}

span {
  color: white;
}

.res-cont {
  background-color:rgba(43, 18, 18, 0.485);
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction:column;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}

.resume {
  width: 325px;
  padding-top: 30px;
  padding-bottom: 15px ;
}

.avatar:hover {
  box-shadow: 0 0 30px #fff;
}


.footer-cont {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-img {
  transition: 0.7s ease-in-out;
  height: 30px;
  width: 30px;
  padding: 25px;
  text-decoration: none;
  color: white;
}

.footer-img:hover {
  color: #b96f2a;
transform: scale(1.3) rotate(360deg);
}






.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
}

#imagetrack {
  display:flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(0%, -50%);
}

.spacer {
  display: flex;
  transform: translate(50%, 50%);
  height: 100vh;
}

.black {
  background-color: #161616;
  position:absolute;
  top: 0%;
  height: 100vh;
  width: 100vw;
}

.continue{
  border-color: transparent;
  color: white;
  background-color: transparent;
  font-size: 100px;
  transition: 0.25s ease-in-out;
}

.continue:hover {
  color: #161616;
  background-color: transparent;
  text-shadow: 0px 0px rgb(255, 255, 255);
  transform: scale(1.2);
}

@media only screen and (max-width: 920px) {
  .about-card {
    width: 75%;
    font-size: 24px;
  }
}

@media only screen and (max-width: 820px) {
  .about-card {
    width: 95%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 545px) {
.header {
  font-size: 24px;
  margin-bottom: 0px;
}

  .navbar {
    margin-top: 0px;
    font-size:12px;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .about-card {
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
  }

  
}


@media only screen and (max-width: 415px) {
  .header {
    font-size: 20px;
    margin-bottom: 0px;
  }

  li {
    margin: 15px;
  }

  .highlight {
    font-size: 16px;
  }
  
    .navbar {
      margin-top: 0px;
      font-size:14px;
    }
  
    .avatar {
      width: 100px;
      height: 100px;
    }
  
    .about-card {
      font-weight: normal;
      line-height: 2;
      font-size: 12px;
      /* width: 75%; */
    }
  
    .footer-img {
      height: 20px;
      width: 20px;
      padding: 15px;
    }

    .portfolio {
      margin-top: 30px;
    }

    .carousel{
      width: 350px;
    }
    
    .carousel-title {
      padding-top: 15px;
      height:25px;
      font-size: 14px;
    }
    
    .carousel-image {
      height:150px;
    }
    
    .carousel-item{
      height: 500px;
    }


    
  }

@media only screen and (max-width: 375px) {
  .header {
    font-size: 18px;
    margin-bottom: 0px;
  }



  .highlight {
    font-size: 10px;
  }
  
    .navbar {
      margin-top: 0px;
      font-size:10px;
    }
  
    .avatar {
      width: 100px;
      height: 100px;
    }
  
    .about-card {
      font-weight: normal;
      line-height: 1.5;
      font-size: 12px;
      /* width: 75%; */
    }
  
    .footer-img {
      height: 15px;
      width: 15px;
      padding: 15px;
    }

    .portfolio {
      margin-top: 0px;
    }

    .carousel{
      width: 250px;
    }

    .carousel-title {
      padding-top: 15px;
      height:25px;
      font-size: 14px;
    }
    
    .carousel-image {
      height:100px;
    }

    .carousel-item{
      height: 400px;
    }

    .carousel-desc{
      margin: 15px 0 15px 0;
      padding: 0 10px 0 10px;
      white-space: normal;
      font-size: 12px;
 
    }

    .indicator-buttons {
      display: none;
    }

  
  }

  @media only screen and (max-width: 360px) {
    .carousel{
      width: 300px;
    }
  }